@font-face {
    font-family: MyriadPro;
    src: url(/assets/fonts/MyriadPro-Light.woff);
    font-weight: 300;
  }
  @font-face {
    font-family: MyriadPro;
    src: url(/assets/fonts/MyriadPro-Regular.woff);
    font-weight: 400;
  }
  @font-face {
    font-family: MyriadPro;
    src: url(/assets/fonts/MyriadPro-semi.woff);
    font-weight: 500;
  }
  @font-face {
    font-family: MyriadPro;
    src: url(/assets/fonts/MyriadPro-bold.woff);
    font-weight: 600;
  }