.bannerWrapper{
    margin-top :61px;
    @include min(768){
        margin-top: 130px;
     }
    @include min(992){
        margin-top: 80px;
     }
    @include min(1360){
        margin-top: 140px;
     }
 @include min(1601){
    margin-top: 150px;
 }
    article{
        background-size: cover;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        height: 350px;
        @include min(768){
            height: 387px;
        }
        @include min(1024){
            height: 519px;
        }
        @include min(1200){
            height: 612px;
        }
        @include min(1360){
            height: 695px;
        }
        @include min(1440){
            height: 733px;
        }
        @include min(1600){
            height: 768px;
        }
        @include min(1700){
            height: 979px;
        }
    }
    .bannerText{
        @include min(1700){
            padding-top: 220px;
        }
        a{
            margin: auto;
        }
    }
    .bannerText p{
        font-size: 87px;
        line-height: 104px;
        color: #fff;
        text-align: center;
        flex-basis: 100%;
        max-width: 100%;
        padding-bottom: 30px;
        @include max(1199){
            font-size: 70px;
            line-height: 80px;
        }
        @include max(768){
            font-size: 50px;
            line-height: 60px;
        }
        @include max(767){
            font-size: 35px;
            line-height: 40px;
        
        }
    }
}
a.btn,button {
    width: 197px;
    background-color: #fff;
    height: 54px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: center;
    border: unset;

    &:hover,&:focus,&:focus-visible,&:active{
        background-color: $secondaryColor!important;
        color: #fff!important;
    }
    @include max(768){
        width: 150px;
        height: 40px;
    }
    @include max(767){
            width: 150px;
            height: 40px;
    }
}



.bannerSectionInner{
    margin-top: 62px;
    @include min(768){
        margin-top: 129px;
    }
    @include min(992){
        margin-top: 79px;
    }
    @include min(1360){
        margin-top: 139px;
    }
    @include min(1600){
        margin-top: 150px;
    }
    article{
        background-size: cover;
        @include max(767){
            background-position: 80%;
        }
    }
    .bannerText{
        height: 200px;
        display: flex;
        align-items: center;
        @include min(1360){
            height: 280px;
        }
        @include min(1440){
            height: 300px;
        }
        @include min(1600){
            height: 333px;
        }
        @include min(1700){
            height: 400px;
        }
        h1{
            color: $white;
            text-transform: uppercase;
            font-size: 30px!important;
            @include min(768){
                font-size: 30px!important;
            }
            @include min(1024){
                font-size: 35px!important;
            }
            @include min(1360){
                font-size: 40px!important;
            }
            @include min(1440){
                font-size: 50px!important;
            }
            @include min(1600){
                font-size: 67px!important;
            }
        }
    }
}




.bannerSectionPackages{
    margin-top: 60px;
    @include min(768){
        margin-top:131px;
    }
    @include min(992){
        margin-top: 80px;
    }
    @include min(1200){
        margin-top: 139px;
    }
    @include min(1440){
        margin-top: 139px;
    }
    @include min(1600){
        margin-top: 143px;
    }
    article{
        background-size: cover;
        background-position: center center;
        p{
            font-size: 18px;
            font-weight: $fw-600;
            @include min(1200){
                font-size: 18px;
            }
            @include min(1360){
                font-size: 22px;
            }
            @include min(1440){
                font-size: 29px;
            }
            @include min(1600){
                font-size: 35px;
            }
        }
    }
    .bannerText{
        height: 236px;
        @include min(992){
            height: 320px;
        }
        @include min(1200){
            height: 375px;
        }
        @include min(1360){
            height: 424px;
        }
        @include min(1440){
            height: 449px;
        }
        @include min(1500){
            height: 499px;
        }
        @include min(1601){
            height: 595px;
        }
        color: $white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;

    }
    h1{
      
        @include min(1024){
            font-size: 50px!important;
        }
        @include min(1360){
            font-size: 60px!important;
        }
        @include min(1440){
            font-size: 80px!important;
        }
        @include min(1600){
            font-size: 95px!important;
            line-height: 90px;
        }
        br{
            @include max(991){
                display: none;
            }
        }
    }

}
