header{
	background-color: #fff;
	position: fixed;
    width: 100%;
	z-index: 5;
	@include max(1199){
		display: flex;
		align-items: center;
		flex-wrap:wrap;
		height: 80px;
	}
	@include max(1023){
		height: 140px;
	}
	@include max(992){
		
		height: 130px;
	}
	@include max(767){
		
		height: 80px;
	}
	@include max(450){
		
		height: 68px;
	}
	@include max(400){
		
		height: 62px;
	}
	@include max(345){
			height: 55px;
	}
	 .row {
		align-items: center;
	}
	.brand{
		
		@include min(1024){
			flex-basis: 35%;
			max-width: 35%;
		}
		@include min(1600){
			flex-basis: 40%;
			max-width: 40%;
		}
		@include max(992){
			flex-basis:80%;
			max-width: 80%;
		}
		

	  }
	  
		.mob-btn {
			width:40px;
			height:27px;
			display:flex;
			flex-wrap:wrap;
			align-items:center;
			position: absolute;
			cursor: pointer;
			top: 28px;
			right: 0;
			@include max(1023){
				width: 60px;
				height: 50px;
				top: 50px;
			}
			@include max(992){
				top: 39px;
			}
			@include max(767){
				width: 30px;
				height: 26px;
				top: 30px;
				right: 20px;
			}
			@include max(448){
				top: 24px;
	
			}
			@include max(400){
				top: 20px;
	
			}
			@include max(345){
				width: 25px;
				height: 20px;
			}
			span{
				background-color:#000000;
				height:4px;
				width:100%;
				display:block;
				margin-bottom:5px;
				border-radius:4px;
			}
		}
		.brand img{
			transition: 0.3s ease all;
			width: 100%;
		}

		&.fixedHead{
			.row{
				@include min(1200){
					height: 80px;

				}
				@include min(1600){
					height: 100px;

				}
			}
			.menu-wrapper ul.menu a{
				@include min(1200){
					height: 95px;
				}
				@include min(1700){
					height: 98px;
				}
				transition: 0.3s ease all;

			}
			
			.brand img {
				@include min(1200){
				width: 70%;
				transition: 0.3s ease all;
			}
			}
		}
		
	}
	.menu-wrapper{
		a{
			text-transform: uppercase;
			font-weight: 500;
		}
	}

  .menu-wrapper{
	@include min(1200){
		flex-basis: 65%;
		max-width: 65%;
		nav {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			a{
				color: #050607;
				font-size: 16px;
				transition:0.5s ease-in all;

			}
		}
		.mob-btn{
			display:none;
		  }
		ul.menu {
			display:flex;
			justify-content:space-between;
			&:not(:last-child){
				margin: 0;
			}
			li{
			  margin-right:15px;
			  a::before{
				width: 0;
				transition:0.1s  all;
				height:4px;
				  content:'';
				  position:absolute;
				  top: -6px;
				  background-color:$secondaryColor;
				  left:0;

			  }
			  a:hover::before, a.active::before{
				  width:100%;
				  transition:0.5s all;

				  
				}
			}
			&:last-child{
			  margin-right:0;
			}
			a{
			  position:relative;
			transition:0.5s ease-in all;
			height: 138px;
			display: flex;
			align-items: center;
			padding: 0px 10px;
		  }
		  }
		article {
			margin-left: 10px;
			ul {
				display: flex;
				li {
					margin-right: 16px;
				}
			}
		}
	}
	@include min(1600){
		
		flex-basis: 60%;
		max-width: 60%;
		ul.menu li{
			margin-right:29px;
			a{
				padding: 0px 18px;
			  }
		}
		
		article {
			margin-left: 40px;
			ul {
				display: flex;
				li {
					margin-right: 16px;
				}
			}
		}
		
	}
	@include max(1199){
		nav{
			
			transform:translateX(-130%);
			height:auto;
			width:100%;
			background-color:#ffffffe6;
			text-align:center;
			padding:50px 0px;
			transition: transform ease 0.3s;
			position: relative;
			z-index: 3;
			justify-content: center;
			
			}
			&.show-menu nav{
			transform:translateX(0%);
			transition: transform ease 0.3s;

			}
			&.show-menu .mob-btn span{
				transition: transform ease 0.3s;
		
			}
			&.show-menu .mob-btn span:nth-child(1){
			transform:rotate(45deg);
			transform-origin: 20% 100%;
			}
			&.show-menu .mob-btn span:nth-child(2){
			height: 0;
			}
			&.show-menu .mob-btn span:nth-child(3){
			transform:rotate(-45deg);
				transform-origin: 10% -50%;
			
			}
			a{
					font-size: 39px;
					margin-bottom: 31px;
					letter-spacing: 5px;
					&:hover{
						color: $secondaryColor;
					}
				}
			
			article {
				margin-top: 50px;
				ul {
					display: flex;
					justify-content: center;
					align-items: center;
					li{
						margin-right: 20px;
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
			
		}
		article i{
			&:hover{
				color: $secondaryColor;
			}
		}
		a{
			@include max(481){
				font-size: 25px;
				margin-bottom: 0px;
				letter-spacing: 5px;
			}
		}
		 article {
			@include max(481){
			margin-top: 26px;
			}
		}
  	}

