body{
	font-family: $primary-font;
	font-weight:$fw-300;
	font-size: 20px;
	line-height: 40px;
	overflow-x: hidden;
}
.welcomeSection{
	background-color: #010101;
	color: #fff;
	padding: 50px 0px;
	@include min(768){
		padding: 80px 0px;
	}
	@include min(1360){
		padding: 120px 0px;
	}
	@include min(1600){
		padding: 150px 0px;
	}
	text-align: center;
	article{
		width: 59%;
		margin: auto;
		@include max(1440){
			width: 80%;
		}
		@include max(768){
			width: 100%;
		}
		p{
			font-size: 20px;
			line-height: 33px;
			@include max(1199){
				font-size: 18px;
			}
			@include max(767){
				font-size: 16px;
				line-height: 25px;
			}
		}
	}
	h2 span{
		color: $secondaryColor;
	}
}



.listing{
	padding: 50px 0px;
	@include min(768){
		padding: 80px 0px;
	}
	@include min(1360){
		padding: 100px 0px;
	}
	@include min(1440){
		padding: 130px 0px;
	}
	@include min(1600){
		padding: 150px 0px;
	}
	@include min(1700){
		padding: 209px 0px;
	}
	article{
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
		color: #fff;
		padding: 73px 0px;
		position: relative;
		z-index: 1;
		@include max(768){
			padding: 25px 0px;
		}
		@include min(1440){
			padding: 73px 0px;
		}
		@include min(1700){
			padding: 137px 0px;
		}
		@include min(1700){
			padding: 176px 0px;
		}
		h2,p, a{
			z-index: 2;
			position: relative;
		}
		&::before{
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			z-index: 0;
			opacity: 0;
			transition: 0.8s ease all;
		}
		&:hover::before{
			background-color: #00000081;
			opacity: 1;
	
		}
		p{
			text-align: center;
			width: 57%;
			margin: 30px 0px;
			@include max(992){
				width: 90%;
			}
		}
		
	}
	.row{
		&> div{
			&:nth-child(1){
				margin-bottom: 20px;
			}
		}
	}
}
.newsAndTips{
	color: #fff;
	padding: 100px 0px;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	@include min(1600){
		padding: 130px 0px;
	}
	@include min(1700){
		padding: 163px 0px;
	}
	@include max(991){
		padding: 50px 0px;
	}
	.row {
		justify-content: center;
	}
	article {
		width: 69.5%;
		margin: auto;
		@include max(1599){
			width: 93%;
		}
		@include max(992){
			width: 100%;
		}
		a.darkBtn{
			margin-top: 39px;
			background-color: #1f1b1e;
			color: #fff;
			@include max(992){
				margin-top: 20px;	
			}
		}
		p{
			&:nth-child(2){
				padding-bottom: 20px;
			}
		}
		
	}
	.col-lg-4{
		&:first-child{
			article{
				margin-bottom: 40px;
			}
		}
	}
	h2{
		font-size: 30px!important;
	}
	
}